.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;

  @include hover(transform, scale(1.05));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(../icons/icon-phone-call.avif);

    @include on-desktop {
      display: flex;
      position: relative;
      font-family: Inter, Arial, sans-serif;
      font-size: 12px;
      line-height: 16px;
      font-weight: 700;
      color: inherit;
      text-decoration: none;
      text-wrap: nowrap;
      letter-spacing: 2px;

      &::after {
        content: '+1 234 555-55-55';
        position: absolute;
        left: -8px;
        align-self: center;
        transform: translateX(-100%);
        display: none;
      }

      &:hover {
        &::after {
          display: block;
        }
      }
    }
  }

  &--menu {
    background-image: url(../icons/icon-burger-menu.avif);

    @include hover(background-image, url(../icons/icon-burger-menu-hover.avif));
  }

  &--close {
    background-image: url(../icons/icon-close.avif);
  }
}
